<div>
    {% for room in rooms %}
        <div>
            
            <a href="/profile/{{room.host.id}}">@{{room.host.username}}</a>
            <h5>
                {{room.id}} => <a href="/room/{{room.id}}">{{room.name}}</a>
            </h5>
            <small>{{room.topic.name}}</small>
            {% if request.user == room.host %}
                <a href="/update-room/{{room.id}}">Edit</a>
                <a href="/delete-room/{{room.id}}">Delete</a>
            {% endif %}
            <hr>
        </div>
    {% endfor %}
</div>