<div class="room-list" style="text-align: initial;">
    {% for room in rooms %}
        <div class="room-item">
            <a href="/profile/{{room.host.id}}" class="host-link">@{{room.host.username}}</a>
            <h5 class="room-title">
                =><a href="/room/{{room.id}}" class="room-link">{{room.name}}</a>
            </h5>
            
            {% if request.user == room.host %}
                <div class="room-actions">
                    <a href="/update-room/{{room.id}}" class="edit-button">Edit</a>
                    <a href="/delete-room/{{room.id}}" class="delete-button d">X</a>
                </div>
            {% endif %}
            <hr>
            <small class="room-topic">{{room.topic.name}}</small>
            <br>
        </div>
    {% endfor %}
</div>
